<% experiments.each do |experiment| %>
  <h2>
    <%= experiment.name %>
    <small><%= link_to "Details", experiment_path(experiment.id) %></small>
  </h2>

  <% if experiment.description %>
    <p class="description"><%= experiment.description %></p>
  <% end %>

  <% experiment.goals.each do |goal| %>
    <% level_results_number = experiment.level_results_number(goal: goal) %>
    <% if experiment.multiple_goals? %>
      <h3><%= goal.titleize %></h3>
    <% end %>

    <table>
      <thead>
        <tr>
          <th>Variant</th>
          <th style="width: 10%;">Limit Weights</th>
          <th style="width: 10%;">Weights</th>
          <th style="width: 10%;">Participants</th>
          <th style="width: 10%;">Conversions</th>
          <th style="width: 10%;">Conversion Rate</th>
          <th style="width: 10%;">Prob Winning Conversion Rate</th>
          <th style="width: 10%;">Average Conversion Value</th>
          <th style="width: 10%;">Average Participant Value</th>
          <th style="width: 10%;">Prob Winning Average Participant Value</th>
        </tr>
      </thead>
      <tbody>
        <% level_results_number.each do |variant, level_result_number| %>
          <tr>
            <td>
              <%= variant %>
              <% if variant == experiment.winner %>
                <span class="check">✓</span>
              <% end %>
            </td>
            <td>
              <% if !level_result_number[:limit_weights].blank? %>
                  <%= level_result_number[:limit_weights].round(2) %>%
              <% else %>
                  -
              <% end %>
            </td>
            <td>
              <% if !level_result_number[:weights].blank? && !level_result_number[:weights].nan? %>
                  <%= (100.0 * level_result_number[:weights]).round(2) %>%
              <% else %>
                  -
              <% end %>
            </td>
            <td><%= level_result_number[:participated] %></td>
            <td><%= level_result_number[:converted] %></td>
            <td>
              <% if level_result_number[:conversion_rate] %>
                <%= (100.0 * level_result_number[:conversion_rate]).round(2) %>%
              <% else %>
                -
              <% end %>
            </td>
            <td>
              <% if !level_result_number[:prob_winning_conversion_rates].blank? && !level_result_number[:prob_winning_conversion_rates].nan? %>
                  <%= (100.0 * level_result_number[:prob_winning_conversion_rates]).round(2) %>%
              <% else %>
                  -
              <% end %>
            </td>
            <td>
              <% if level_result_number[:average_conversion_value] %>
                <%= level_result_number[:average_conversion_value].round(2) %>
              <% else %>
                -
              <% end %>
            </td>
            <td>
              <% if level_result_number[:average_participant_value] %>
                <%= level_result_number[:average_participant_value].round(2) %>
              <% else %>
                -
              <% end %>
            </td>
            <td>
              <% if !level_result_number[:prob_winning_total_revenues].blank? && !level_result_number[:prob_winning_total_revenues].nan? %>
                  <%= (100.0 * level_result_number[:prob_winning_total_revenues]).round(2) %>%
              <% else %>
                  -
              <% end %>
            </td>
            <td>

            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
