<% experiments.each do |experiment| %>
  <h2>
    <%= experiment.name %>
    <small><%= link_to "Details", experiment_path(experiment.id) %></small>
  </h2>

  <% if experiment.description %>
    <p class="description"><%= experiment.description %></p>
  <% end %>

  <% experiment.goals.each do |goal| %>
    <% experiment.level_results(goal: goal) %>
    <% level_results = experiment.results(goal: goal) %>
    <% if experiment.multiple_goals? %>
      <h3><%= goal.titleize %></h3>
    <% end %>

    <table>
      <thead>
        <tr>
          <th>Variant</th>
          <th style="width: 10%;">Participants</th>
          <th style="width: 10%;">Conversions</th>
          <th style="width: 10%;">Conversion Rate</th>
          <th style="width: 10%;">Average Conversion Value</th>
          <th style="width: 10%;">Average Participant Value</th>
          <th style="width: 10%;">Prob Winning</th>
        </tr>
      </thead>
      <tbody>
        <% level_results.each do |variant, level_result| %>
          <tr>
            <td>
              <%= variant %>
              <% if variant == experiment.winner %>
                <span class="check">✓</span>
              <% end %>
            </td>
            <td><%= level_result[:participated] %></td>
            <td><%= level_result[:converted] %></td>
            <td>
              <% if level_result[:conversion_rate] %>
                <%= (100.0 * level_result[:conversion_rate]).round %>%
              <% else %>
                -
              <% end %>
            </td>
            <td>
              <% if level_result[:average_conversion_value] %>
                <%= level_result[:average_conversion_value].round %>
              <% else %>
                -
              <% end %>
            </td>
            <td>
              <% if level_result[:conversion_value] %>
                <%= level_result[:conversion_value].round %>
              <% else %>
                -
              <% end %>
            </td>
            <td>
              <% if !level_result[:prob_winning].blank? && !level_result[:prob_winning].nan? %>

                  <%= (100.0 * level_result[:prob_winning]).round %>%

              <% else %>
                  -
              <% end %>
            </td>
            <td>

            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
